body{
    margin :0;
    background-color: #fffbf7;
    /* font-family: 'Alegreya', serif; */
    font-family: 'Finlandica', sans-serif;
    /* font-family: 'Roboto', sans-serif; */

}
h1, h2 {
    font-family: 'Roboto', sans-serif; 
    
    color: #025157;
}

h1{
    font-size: 50px;

}

h2{
    font-size: 40px;
    line-height: 48px;
}
/* 
p{
    line-height: 1.5;
    font-size: 16px;
} */

.texto{
        color:#46484c
        line-height: 1.5;
    margin-bottom: 20px;
}

.promo{
    color:#8b8b8bcc;
}

.publishing {
    margin-top: 0;
}

.publishing > h2{
    font-family: 'Roboto', sans-serif;  
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}
.publishing > p{
    color: #343434;
    /* font-size: 16px; */
    line-height: 1.5;
    margin-bottom: 20px;
}
.publishing > form{
    display: flex;
}
.publishing > .promo {
    color:#025157; 
    margin-right: 18px;
}
/*Sesion 3 reto3 Agragando seccion, color y formulario a lado del video*/
button {
    color: #fff;
    background-color: #025157;
    /* padding: 12px 14px 12px 14px; */
    padding-left: 14px;
    padding-top: 12px;
    padding-right: 14px;
    padding-bottom: 12px;
    border:0;
    border-radius: 5px;
}

li{
    display: inline;
}

.postwork1{
    /* : center; */
    /* margin: 0 50%; */
    max-width: 1200px ;
    margin: auto 20%;
    height: 700px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    
}
.header {
    /* width: 100%; */
    /* "> *" esto significa a todos los hijos directos de la etiqueta header. 
    A todos los hijos contenidos dentro de header */
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 40px  20px  0;
    font-size: 0;
    font-family: sans-serif;
    height: 45px;
}

.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.logoMatcha > img {
    width: 15%;
}


.menuNavegacion{
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.itemNavegacion{
    display: inline;
    /* margin: 0 25px; */
    margin-left: 25px;
    margin-right: 25px;
}


.accionesDUsuario{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.accionesDUsuario > *{
    margin-left: 10px;
    margin-right: 10px;
}

.accionesDUsuario a{
    color: #67b54b;
}

.accionesDUsuario  button {
    color: #fff;
    background-color: #025157;
    /* padding: 12px 14px 12px 14px; */
    padding-left: 14px;
    padding-top: 12px;
    padding-right: 14px;
    padding-bottom: 12px;
    border:0;
    border-radius: 5px;
}
.principalArea{
    margin-top: 285px;
    text-align: center;
}
 
.video{
    display:flex ;
    width: 70%;
    margin: 100px auto;
    /* align-items:center;  */
    justify-content: center;
}

.video-en-col{
    display: flex;
    flex-direction: column;
     align-items: center;
   
}
.video-en-col img {
    width: 50px;
    margin-top: 10px;
}
.contenedor-arrow1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fixed-header {
    position: fixed;
}

.seccion-con-tarjeta-a-la-derecha{
    background-color: #a1d683;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.texto-seccion{

    display: flex;
    flex-direction: column;
    align-items: left;
    margin: auto 25px;

}

/* .texto-seccion > p {
    margin: ;
} */
.rectangulo-WhoUses{
    color: #fff;
    background-color: #025157;
    text-align: center;
    padding: 10px;
    margin: 0;
    width: 33%;
    border-radius: 5px;
}

.lista-matcha-users{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.li-matcha-users{
    margin: 0 25px;
}

.card1{
    border-radius: 5px;
    background-color: #fff;
    color: #343434;
    margin-bottom: 80px;
    margin-right: 200px;
}
.text-card1 > p {
    margin: 0 25px;
    padding: 10px;
}

.text-color2-in-card1{
    color: #8b8b8bcc;
}
.text-card1 > button {
    width: 100%;
}

/*Sesion 4 GRIDS*/
.features {
    display: grid;
    /* grid-template-columns: repeat(2, 300px);   */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: repeat(2, 330px); */
    /* height: 660px;
    grid-template-rows: repeat(2, 1fr); */
    grid-template: repeat(2, 330px)/repeat(2,1fr);

}