body{
    margin :0;
    background-color: #fffbf7;
    /* font-family: 'Alegreya', serif; */
    font-family: 'Finlandica', sans-serif;
    /* font-family: 'Roboto', sans-serif; */

}
h1 {
    font-family: 'Roboto', sans-serif; 
    font-size: 50px;
    color: #025157;
}


.texto{
        color:#46484c
        line-height: 1.5;
    margin-bottom: 20px;
}

.promo{
    color:#8b8b8bcc;
}

.publishing > h2{
    font-family: 'Roboto', sans-serif;  
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}
.publishing > p{
    color: #343434;
    /* font-size: 16px; */
    line-height: 1.5;
    margin-bottom: 20px;
}
.publishing > form{
    display: flex;
}
.publishing > .promo {
    color:#025157; 
    margin-right: 18px;
}
/*Sesion 3 reto3 Agragando seccion, color y formulario a lado del video*/
button {
    color: #fff;
    background-color: #025157;
    /* padding: 12px 14px 12px 14px; */
    padding-left: 14px;
    padding-top: 12px;
    padding-right: 14px;
    padding-bottom: 12px;
    border:0;
    border-radius: 5px;
}

li{
    display: inline;
}

.postwork1{
    /* : center; */
    /* margin: 0 50%; */
    margin-left: 27%;
    margin-right: auto;
    height: 500px;
}
.header {
    /* width: 100%; */
    /* "> *" esto significa a todos los hijos directos de la etiqueta header. 
    A todos los hijos contenidos dentro de header */
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 40px  20px  0;
    font-size: 0;
    font-family: sans-serif;
    height: 45px;
}

.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.logoMatcha > img {
    width: 15%;
}


.menuNavegacion{
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.itemNavegacion{
    display: inline;
    /* margin: 0 25px; */
    margin-left: 25px;
    margin-right: 25px;
}


.accionesDUsuario{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.accionesDUsuario > *{
    margin-left: 10px;
    margin-right: 10px;
}

.accionesDUsuario a{
    color: #67b54b;
}

.accionesDUsuario  button {
    color: #fff;
    background-color: #025157;
    /* padding: 12px 14px 12px 14px; */
    padding-left: 14px;
    padding-top: 12px;
    padding-right: 14px;
    padding-bottom: 12px;
    border:0;
    border-radius: 5px;
}
.principalArea{
    margin-top: 300px;
    text-align: center;
}

.video{
    display:flex ;
    width: 70%;
    margin: 100px auto;
    align-items:center; 
}