body{
    margin :0;
    background-color: #fffbf7;

}
h1 {
    color: #025157;
}

.texto{
        color:#46484c;
}

.promo{
    color:#8b8b8bcc;
}

button {
    color: #fff;
    background-color: #025157;
}

li{
    display: inline;
}
.header {
    width: 100%;
    /* "> *" esto significa a todos los hijos directos de la etiqueta header. 
    A todos los hijos contenidos dentro de header */
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    /* margin: 40px  20px  0 20px; */
    font-size: 0;
}

.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.logoMatcha > img {
    width: 15%;
}


.menuNavegacion{
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}


.accionesDUsuario{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}