body {
    background-color: rgb(233, 232, 207);
    font-family: 'Alegreya', serif;  
    height: 45px;

  }

  a {
    style
  }

  h1 {
    font-size: 60px;
    color: #025157;
    text-align: center;
  }

  p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
  }

  button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;

  }
  
  .header {
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 40px 20px 0px;
    font-size: 0;
    font-family: 'Alegreya', serif;    height: 45px;
  }

  li  {
    display:inline;
    margin: 0 25px;
  }

  .header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
  }
  .logo {
    width: 15%;
  }

  .logo > img {
   /* background-color: aqua; */
    width: 15%;
    /*display: inline*/
  }

  .navbar{
    /* background-color: aquamarine; */
    width: 70%;
    text-align: left;
    color:  #025157;
    font-weight: 500;
    text-decoration: none;
    border-color: black;
    border: 20px;


  }

  .menu-item {
    display: inline;
    margin: 0 25px;
    text-decoration: none;
    color:  #025157;
    float: left;
    border: 10px;
  
  }

  .actions{
    /* background-color:beige; */

    /* width: 15%; */
    min-width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    /* padding-right: 10px; */
    color: #67b54b;

  }

  .actions > * {
    margin: 0 10px;
  }
  
  .actions a {
    color: #67b54b;
    text-decoration: none;

  }

  .actions button{
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;

  }

  .main {
    margin: 140px;
    text-align: center;
  }

  .seccion {
    display: flex;
    flex-direction: row;
    align-items: center;
    }
  .articulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .seccion img{
    height: 5rem;
  }
  .columna h2{
    color: #025157;
    font-family: Verdana;
  }
  .columna p{
    color: #343434;
  }

.features {
  display: grid;
  /* grid-template-columns: repeat(2,1fr);
  /* grid-template-rows: repeat(2, 330px); 
  height: 660px;
  grid-template-rows: repeat(2,1fr); */

  /* grid-template:  300px 300px / 1fr 1fr; */
  /* grid-template: repeat(2 ,300px)/repeat(2, 1fr);
  text-align: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height:600px;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: #025157;
  padding: 5rem;
  }
  
  .cards {
    grid: flex;
    background-color: #8b8b8bcc;
    text-align: left;
  }

  .image1{ 
    height: 50px;
    align-items: flex-start;
    justify-content:left;
  }

.image2{ 
  height: 200px;
  align-self: end;
  align-items: flex-end;

  justify-content: right;
  }

  
/** dispositivos móviles en vista viewport (vertical) */
  @media (max-width: 575px){
    .navbar,
    .actions {
      display: none;
    }

    h1 {
      font-size: 30px;
    }

    .main {
      margin-top: 130px;
    }
    .banner > img{
      width: 100%;
    }
    .seccion > form{
      flex-direction: column;
    }
    .seccion > form > div > input {
      width: 65%;
    }
  }

  /** dispositivos pequeños en vista landscape (horizontal) */
  @media (min-width: 576px and max-width: 767px) {
  }
  
  /** dispositivos medianos (tablets) */
  @media (min-width: 768px and max-width: 991px) {
  }
  
  /** dispositivos grandes (desktops) */
  @media (min-width: 992px and max-width: 1199px) {
  }
  
  /** dispositivos extra grandes (monitores grandes, tvs) */
  @media (min-width: 1200px) {
  }
  
  