body {
    background-color: rgb(233, 232, 207);
    font-family: 'Alegreya', serif;  
    height: 45px;

  }

  a {
    style
  }

  h1 {
    color: #025157;
    text-align: center;
  }

  p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
  }

  button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;

  }
  
  .header {
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 40px 20px 0px;
    font-size: 0;
    font-family: 'Alegreya', serif;    height: 45px;
  }

  li  {
    display:inline;
    margin: 0 25px;
  }

  .header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
  }
  .logo {
    width: 15%;
  }

  .logo > img {
   /* background-color: aqua; */
    width: 15%;
    /*display: inline*/
  }

  .navbar{
    /* background-color: aquamarine; */
    width: 70%;
    text-align: left;
    color:  #025157;
    font-weight: 500;
    text-decoration: none;
    border-color: black;
    border: 20px;


  }

  .menu-item {
    display: inline;
    margin: 0 25px;
    text-decoration: none;
    color:  #025157;
    float: left;
    border: 10px;
  
  }

  .actions{
    /* background-color:beige; */

    /* width: 15%; */
    min-width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    /* padding-right: 10px; */
    color: #67b54b;

  }

  .actions > * {
    margin: 0 10px;
  }
  
  .actions a {
    color: #67b54b;
    text-decoration: none;

  }

  .actions button{
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;

  }

  .main {
    margin: 140px;
    text-align: center;
  }

  .seccion {
    display: flex;
    flex-direction: row;
    align-items: center;
    }
  .articulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  .columna h2{
    color: #025157;
    font-family: Verdana;
  }
  .columna p{
    color: #343434;
  }
