body {
    background-color: rgb(233, 232, 207);
  }

  a {
    style
  }

  h1 {
    color: #025157;
    text-align: center;
  }

  p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
  }

  button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;

  }
  
  .header {
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 40px 20px 0px;
    font-size: 0;
    font-family: sans-serif;
    height: 45px;
  }

  li  {
    display:inline;
  }

  .header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
  }
  .logo {
    width: 15%;
  }

  .logo > img {
  /*  background-color: aqua;*/
    width: 15%;
    /*display: inline*/
  }

  .navbar{
    /* background-color: aquamarine; */
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
    padding-right: 25px;

  }

  .actions{
    /* background-color:beige; */

    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding-right: 10px;
    color: #67b54b;

  }


  .main {
    margin: 140px;
    text-align: center;
  }
