// _global.scss

// Colores
$dark-green-title: #025167;
$dark-green-text: #135359;
$white: #ffffff;

$gray: #4a4a4a;
$light-gray: #979797;
$light-green: #67b54b;

/**
Fuentes
*/
$font-title: "Alegraya", serif;

%base-title {
  font-family: $font-title;
  color: $dark-green-text;
}
